@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-color-btn-hover: rgba(245, 178, 178, 2);
  --stars-color: rgb(255, 183, 0);
  --main-color: coral;
}

/* Tira a outline de qualquer elemento focado: */
*:focus {
  outline: none !important;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}

h6 {
  color: #d8d8d8;
}

bMain {
  color: var(--main-color);
}

button {
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 0.5rem !important;
  outline: none;
  border: none;
  text-transform: uppercase;
  background-color: #1d1d1d;
  color: aliceblue;
  padding: 13px 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #353535;
}

.navbar {
  font-size: 16px;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar .nav-item a {
  color: black;
}

.navbar-light .navbar-nav .nav_link {
  padding: 0 20px;
  color: black;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3 ease;
}

.navbar-light .navbar-nav .nav_link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav_link.active,
.navbar i.active,
.nav-item .active {
  color: var(--main-color);
}

.navbar i {
  font-size: 1.2rem;
  padding: 0 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

/* Estilização menu hambúrguer: */
#bar {
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  color: black;
}

#bar:hover,
#bar.active {
  color: #fff;
}

/* Estilização na navBar mobile: */
@media only screen and (max-width: 991px) {
  body nav div button:hover,
  body nav div button:focus {
    background-color: black;
  }

  body nav div button:hover #bar,
  body nav div button:focus #bar {
    color: #fff;
  }

  #navbarSupportedContent ul {
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  /* Remove o espaçamento a mais dos links da navBar em
  relação aos ícones de pesquisa e carrinho: */
  #navbarSupportedContent ul li:nth-child(n) a {
    padding: 10px 0;
  }
  /* Espaçamento entre os links da navBar mobile (menu hambúrguer): */
  #navbarSupportedContent ul li:nth-child(n) {
    padding: 5px;
  }
}
.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

/* Barrinha pra separar o conteúdo: */
hr {
  width: 280px;
  min-height: 4px;
  background-color: var(--main-color);
}

/* Efeito do botão aparecendo de baixo */
.buy-btn {
  background: var(--main-color);
  transform: translateY(20px);
  opacity: 0;
  border-radius: 0.3rem;
  transition: 0.3s all;
}
.buy-btn {
  transform: translateY(0px);
  opacity: 1;
}

.buy-btn:hover {
  background-color: var(--main-color-btn-hover);
}

/* Espaçamento entre as estrelas */
.stars {
  padding: 10px 0;
}

.stars i {
  font-size: 00.8rem;
  color: var(--stars-color);
}

/* Estilização da nav de paginação: */
#products > nav > ul > li.page-item.active > a {
  background-color: black;
  border-color: black;
  color: white;
}
#products > nav > ul > li:nth-child(n):hover > a {
  background-color: var(--main-color);
  border-color: black;
  color: white;
  font-weight: 600;
}
.pagination a {
  color: black;
}

/* Tira a estilização dos links dos botão de compra nos produtos: */
.product a {
  color: white;
  text-decoration: none;
}

.product a:hover {
  color: white;
  text-decoration: none;
}

/* Estilização da caixa de seleção e input de produto: */
select {
  display: block;
  padding: 5px 10px;
}

.singleProduct input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

/* Footer */
footer {
  background-color: #222222;
}

footer h5 {
  color: var(--main-color);
  font-weight: 700;
}

footer h6 {
  color: white;
  font-weight: 500;
}

footer li {
  padding-bottom: 4px;
}

footer p {
  color: rgb(204, 204, 204);
  font-size: 0.9rem;
}

footer .copyright a {
  color: black;
  width: 38px;
  height: 38px;
  background-color: white;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
}

/* Estilização dos social Links: */
footer a {
  font-size: 1rem;
  color: rgb(204, 204, 204);
}

footer .row a:hover {
  color: white;
  background-color: var(--main-color);
}
