@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}

h6 {
  color: #d8d8d8;
}

.navbar {
  font-size: 16px;
}

.navbar-light .navbar-nav .nav_link {
  padding: 0 20px;
  color: black;
  text-decoration: none;
  transition: 0.3 ease;
}

.navbar-light .navbar-nav .nav_link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav_link.active,
.navbar i.active {
  color: coral;
}

.navbar i {
  font-size: 1.2rem;
  padding: 0 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}
